
<a href="{% url 'nagendra' %}">nagendra</a>

<p>
Applicants are requested to read the Notification carefully and ensure that they are eligible before filling the Application form
Fields marked with ‘ * ’ are Mandatory.
After Submission of this form, Application ReferenceID will be generated and Applicants are requested to save it for future reference/correspondence.
Basic details are populated from the OTPR data.(The fields used for calculation of Fee and Age relaxation are populated from the data submitted in the payment form for this notification)
All the Applicants are requested to submit their application with correct data. It is informed that the requests to modify the data shall be allowed on payment of Rs.100/- (Rupees Hundred Only) for each correction. However changes are not allowed for Name, Fee and age relaxation parameters.
 No manual application for corrections shall be entertained.</p>

<a href="{% url 'countwords' %}">count no words</a>
